.titleImage {
  max-width: 100%;
}

.mainTitle { 
   position: absolute; 
   top: 60%; 
   left: 0; 
   width: 100%; 
}

.mainTitle span { 
   color: white; 
   font: bold 50px/75px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

.subtitle { 
   position: absolute; 
   top: 90%; 
   right: 0; 
   width: 100%; 
}

.subtitle span { 
   color: white; 
   font: bold 35px/50px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

.content {
  padding: 60px;
  padding-top: 30px;
}

.partTwo {
  background-color: #F8F9F9;
}

.sources {
  text-align: left;
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body { 
    font-family: sans-serif; 
}


.btn {
  font-weight: bold;
  text-transform: uppercase;
}
.btn:hover {
  background-color: ccc;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}
.btn:active,
.btn.is-checked {
  background-color: #2175b0;
  color: #fff;
}

.one, .two {
    width: 100% !important;
    max-width: 800px;
    height: auto !important;
}

.sliders { 
    padding: 15px 0 30px 0; 
}

.filter-section .filter-label {
  display: block;
  font-weight: bold;
}
.bootstrap-slider .slider-selection { 
    background: #2175b0; 
}

.grid {
  background: #EEE;
  max-width: 1200px;
}
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.item {
  width: 70px;
  height: 70px;
  margin: 5px;
  float: left;
  text-align: center;
}

.item .content {
  color: #fff;
  font-size: 10px;
  padding-top: 20px;
  display: inline-block;
}

div.gridTwo-item {
  width: 200px;
  border: 1px solid #aaa;
  height: 200px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}

div.gridTwo-item h3 {
  font-size: 20px;
}

div.gridTwo-item p {
  font-size: 25px;
}

.Breast {
  background: #b0221b;
}

.FaceandHead {
  background: #2175b0;
}

.Other {
  background: #e8ce3c;
}

.containerTwo {
  background: #EEE;
}